<% if notice %>
<%= notice %>
<% end %>

<%= render 'users/shownew', user: @user %>
  
  
<div>
  <p><%= image_tag @book.user.get_profile_image(100,100) %>
  <p><%= link_to user_path(@book.user.id) do %>
    <%= @book.user.name %>
    <% end %>
  </p>
    
  <p><%= link_to book_path(@book.id) do%>
     <%= @book.title %>
     <% end %>
  </p>
  <p><%= @book.body %></p>
</div>
  
  <% if @book.user == current_user %>
    <%= link_to "編集", edit_book_path(@book.id) %>
  <% end %>
  
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete,"data-confirm" => "Are you sure?" %>
  <% end %>